.SortableHelper {
	opacity: .7;
	transform: rotate(2deg);
	.sorthandle {
	}
}

.single-habit {
	background-color: white;
	&>a {
		text-decoration: none;
	}
	@include media-breakpoint-up(lg) {
		border: 1px solid #eee;
	}
	// box-shadow: 1px 0px 2px #999;
	&.editing-mode {
		.essentials, .checkin-window {
			display: none;
		}
	}
	.notifs {
		display: flex;
		.notif {
			margin: 0px 8px;
			border: 8px;
			padding: 8px 28px;
			display: block;
			background-color: #ddd;
			border-radius: 8px;
		}
	}
}
.habit-details {
	max-height: 200px;
	padding: 10px 0px 0px;
	transition: max-height .4s, padding .4s;
    transition-timing-function: cubic-bezier(0, 0.04, 0, 1.37);
	.minimized &, .unrendered & {

		max-height: 0px;
		padding-bottom: 0px;
		padding-top: 0px;
		overflow-y: hidden;
		transition-timing-function: cubic-bezier(0.48, 0.42, 0.26, 0.63);
		transition: max-height .3s, padding .3s;
	}
}