.edit-challenge {
	padding: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	background-color: #f6f6f6;
	place-items: center;
	place-content: center;
	flex-shrink: 0;
	color: #777;
	display: grid;
	place-items: center;
	font-size: var(--md-font);
	margin-bottom: 5px;
	text-align: center;
	i {
		font-size: var(--md-font);
		display: inline-block;
		margin: 5px;
	}

	.delete-this-challenge {
		color: red;
	}
}