.my-goals, .core-values {
    @extend %main-content;
}

.goal {
    text-decoration: none;
    &__essentials {
        color: var(--black);
        border: 1px solid var(--light-grey);
        display: grid;
        background-color: white;
        display: grid;
        grid-template-columns: 70px 1fr 120px;
        min-height: 56px;
        border-bottom: 1px solid #ddd; 
        h2 {
            margin: 0px;
            color: black;
        }     
        .goal-meta {
            padding: 10px;
            .timeframe {
                color: #aaa;
                font-size: .8rem;
            }
        }  
        .core-values__label {
            display: inline-block;
            border-radius: 5px;
            background-color: green;
            color: white;
            font-size: .8rem;
            padding: 0px 8px;
            font-weight: 700;
            margin-right: 10px;
        }
        .time-left {
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            .time {
                display: block;
                font-size: 2rem;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                color: var(--grey);
                line-height: .65em;
            }
            .measure {
                font-size: .8rem;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-weight: 400;
                color: #000;   
                position: relative;
                z-index: 1;
            }
        }
    }
    &__dots {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}