.my-habits {
  width: 100%;
	max-width: 1080px;
	margin: 0px auto;
}
.habit-list {
	user-select: none;
	border-top: 1px solid #ccc;
}

.no-habits {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: content;
	height: 100%;
	p {
		color: #aaa;
		font-weight: 700;
		font-size: 1.5rem;
		padding: 0px 20%;
	}
}