.password-reset, .login-box {
    display: grid;
    margin: 40px auto 20px;
    width: 100%;
    max-width: 480px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    @media (max-width: 480px) {
        width: auto;
        margin: 40px 10px 20px;
    }
    p {
        margin: 10px;
    }
}

