<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta name="csrf-token" content="OLevaJOc7YmgJIWWVWoSuKr3vdciQFC2w6GSrBCz">
        <meta http-equiv="origin-trial" content="Ai1J34U4N4dsqAVum/buzuB9k7GSarMx70/vI3QDW6sMgfWT0/rBdgsliz1P4UcHGaF5tdG26BWPfIzvZXa+QQwAAABzeyJvcmlnaW4iOiJodHRwczovL2NoZWNreW91cmhhYml0LmNvbTo0NDMiLCJmZWF0dXJlIjoiTm90aWZpY2F0aW9uVHJpZ2dlcnMiLCJleHBpcnkiOjE1OTAyMDA0ODEsImlzU3ViZG9tYWluIjp0cnVlfQ==">
        <meta name="theme-color" content="#4285f4">
        <meta name="description" content="An app to help you keep track of your habits">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="/icons/icon-512.png">
        <link rel="icon" href="/icons/icon-512.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon-512.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon-512.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/icons/icon-512.png">
        <link rel="manifest" href="/manifest.json">
        
        <title>Habit Tracker</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    </head>

    <body>
        <div id="momentum-app"></div>
        <script src="/js/app.js"></script>
        <script src="/js/service-worker-install.js"></script>
    </body>
</html>