<div>{{item}}</div>

<div>{{otherTemplate}}</div>

<ul>
    {{#each arr}}
    <li>{{@index}}: {{this}}</li>
    {{/each}}
</ul>

<div class="video-brief">
    <h2>Build Your Habits</h2>
    <p>We all have good habits we want to build & bad habits we want to break. 
    Watch the video below to see the groundbreaking method built into Check Your Habits</p>

    <div id="faq"></div>
    <!--<script src="/faq.js" ></script>-->
    <div class="videoWrapper" style="background-color: #333;">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/jvpGPXkNpg4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

