{{#> site }}
    <div class="password-reset">
        {{#if textResponse}}
            <p>{{textResponse}}</p>
            <p><a href="/">Go back home</a></p>
        {{/if}}

        <form method='POST' class="account-form">
            {{#if start}}
                <label for="email-stuff">Email for account you want to reset </label>
                <div class="one-line-group">                
                    <input class="form-control" type='text' name='email' id="email-stuff" placeholder="Your email" />                
                    <input type='submit' class="btn primary" value='Submit' />
                </div>
            {{/if}}
            {{#if sent}}
                <p>A password reset email has been sent to {{email}}</p>
            {{/if}}
            {{#if resetForm}}
                <form method='POST'>
                    <label for="reset-password">New password:</label>
                    <div class="one-line-group">
                        <input type='password' name='password'  id="reset-password" />
                        <input type='submit' class="btn primary" value='Submit' />
                    </div>
                </form>
            {{/if}}
        </form>
        
    </div>
{{/site}}