{{#> site pageTitle="Track Your Habits" fixedHeader="true"}}
    <div class="front-page-hero" id="register">
      <div class="intro-content">
        <div class="headings-intro-blurb">
          <h1>Habits tracking for imperfect people</h1>
          <p>Progress, not perfection</p>
        </div>

        {{> registerForm}}
      </div>
    </div>

    <div class="banner">
      <h2>Track your habits</h2>
      <span>"We are what we repeatedly do. Excellent therefore is not an act but a habit." - Aristotle</span>
    </div>

    <div class="app-features" id="app-features">
      <div class="feature">
        <h3>Convenient</h3>
        <i class="fa fa-mobile-phone"></i>      
        <h4>Available across your devices</h4>
        <p>Android, iOS, Windows, & your web browsers. Track your habits from where you are.</p>
      </div>
      <div class="feature">
        <h3>Perspective</h3>
        <i class="fa fa-eye"></i>      
        <h4>See Habits in a new way</h4>
        <p>The <em>bind</em> method helps you stay motivated, even if you aren't perfect</p>
      </div>
      <div class="feature">
        <h3>Flexible</h3>
        <i class="fa fa-calendar"></i>
        <h4>Track your habits, no matter how big or small</h4>
        <p>Daily, on different days, accross weeks, biweekly, bimonthly, quarterly, annually, and more.</p>
      </div>
    </div>
    <!--   <div class="use-cases">
      <div class="use-case">
        Gym
      </div>
      <div class="use-case">
        Take vitamins
      </div>
      <div class="use-case">
        Seasonal cleaning
      </div>  
      <div class="use-case">
        Yearly goal setting
      </div>
    </div> -->


    <div class="splash">
      <div class="calls-to-action">
        <a href="/#register" class="btn btn--primary btn--lg">
          Get started
        </a>
        <a href="/#app-features" class="btn btn--light btn--lg">
          Learn more
        </a>
      </div>  
    </div>
{{/site}}