

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}


@keyframes sour {

    0%   {
    	border-top-color: var(--fastest);
    }
    15%  {
    	border-top-color: var(--faster);
    }
    30%  {
    	border-top-color: var(--fast);
    }
    40%  {
    	border-top-color: var(--not-fast);
    }
    80% {
    	border-top-color: var(--slow);
    }
    90% {
    	border-top-color: var(--slower);
    }
    95% {
    	border-top-color: var(--slowest);
    }
		
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-to-closed {
	to {
		max-height: 0px;
	}
}

@keyframes slide-closed-from-300 {
	from {
		max-height: 300px;
	}
}

@keyframes slide-closed-from-3000 {
	from {
		max-height: 3000px;
	}
}

@keyframes slide-open {
	from {
		max-height: 0px;

	}
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(100%);
  }
}


@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
}

@keyframes explode {
	to {
		opacity: 0;
		transform: scale(5);
	}
}

@keyframes rise {
	0% {
		transform: translateY(150px);
	}
	50% {
		transform: translateY(-30px);
	}
	85% {
		transform: translateY(10px);
	}
	100% {

	}
}


// Slides to 

// Slides from

@keyframes disipait {
	to {
		opacity: 0;
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-100%);
	}
}


@keyframes rise-to-appear {
	0% {
		max-width: 0px;
		transform: translateY(200px);
	}
	50% {
		max-width: 150px;
		transform: translateY(200px);
	}
}


@keyframes drop-away {
	0% {
		
		transform: translateY(0px)
	}
	50% {		
		max-width: 100px;
		margin: 0px 5px;
		transform: translateY(200px);
	}
	100% {
		max-width: 0px;
		margin: 0px;
		border-width: 0px;
		transform: translateY(200px);
	}
}

@keyframes fade-up {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(200px);
		opacity: 0;
	}
	51% {
		transform: translateY(-200px);
	}
	100% {
		transform: translate(0px);
		opacity: 1;
	}	
}


/* 
Pre-load animation
*/

.br {
  border-radius: 8px;  
}
.w80 {
   width: 80%;
}
.card {
  border: 2px solid #fff;
  box-shadow:0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 80%;
  margin: 50px auto;
}
.profilePic {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 10px auto;
}
.comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate {
   animation : shimmer 2s infinite;
   background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
   background-size: 1000px 100%;
}