.status-icon {
    font-size: 30px;
    place-self: stretch;
    &:after {
        font-family: fontAwesome;
        display: grid;
        height: 30px;
        width: 30px;
        margin: 10px auto;
        place-items: center;
        border: 2px solid transparent;
        border-radius: 100px;
        font-size:  var(--xs-heading-font);
        content: '\f146';
        color: #ccc;

    }
    &.success:after {
        border-color: var(--fastest);
        color: var(--fastest);
        content: '\F00c';
        font-size: 20px;
    }
    &.failure:after {
        color: var(--slow);
        content: '\F00D';
        font-size: var(--md-font);
        font-size: 16px;
    }
    &.aim:after {
        content: '\f067';
        border-color: var(--fastest);
        font-size: 16px;
        color: var(--fastest);
    }
    
    &.target:after {
        color: #ccc;
        border-color: var(--fast);
    }
    &.urgent:after {
        color: #777;
        border-color: #777;
    }
}