.section-content {
	overflow: hidden;
    max-height: 0px;
    transition: max-height .3s;
    transition-timing-function: ease-in;
    &.open {
        max-height: 3000px;
    }
    &.closed {
        overflow: hidden;
    }
}

.habit-section {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 5px;

	border-radius: 5px;
}