@keyframes slide-to-left {
	to {
		transform: translateX(-100%);
	}
}


	.curtain {
		position: fixed;
		transition: .5s;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(100vw);
		z-index: 101;
		background-color: #0007;
		page-transition-tag: curtain;
		contain: paint;
	}

@keyframes disipait {
	to {
		opacity: 0;
	}
}

::page-transition-outgoing-image(curtain) {
	animation: .2s cubic-bezier(.55,0,.1,1) both disipait;
	animation-delay: .1s;
}

::page-transition-outgoing-image(side-nav) {
	animation: .1s cubic-bezier(.55,0,.1,1) both slide-to-left;

}
.app-navigation {

	page-transition-tag: side-nav;
	/* Paint containment is required */
	contain: paint;



	display: flex;
	justify-content: space-between;
	background-color: white;
	flex-direction: column;
	color: #333;
	position: fixed;
	top: 0;
	transition: .1s;
	transition-timing-function: cubic-bezier(.55,0,.1,1);
	left: -300px;
	right: 0;
	bottom: 0;
	width: 300px;
	z-index: 5000;
	background-color: white;
	&.open {
		transition: .2s;
		left: 0;
		transition-timing-function: cubic-bezier(0, 1.16, 0.12, 1.01);
		.curtain {
			background-color: #0007;
			pointer-events: initial;
		}
	}

	.curtain {
		position: fixed;
		transition: .5s;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(100vw);
		z-index: -1;
		pointer-events: none;
	}

	header.overview {
		background-color: var(--brand-secondary);
		position: static;
		display: flex;
		color: white;
		min-height: 100px;
		padding: 10px;
		i {
			margin-right: 10px;
		}
	}
	ul.places {
		background-color: white;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px;
		height: 100%;
		margin: 0px;
		justify-self: flex-start;
		&::-webkit-scrollbar {
			display: none;
		}
		&>li {
			z-index: 0;
			position: relative;

			&.gold {
				i {
					color: #FFCC00;
				}
			}
			i.fa {
				user-select: none;
			}
			.link-container {
				display: flex;
				justify-content: space-between;
				&>a {
					color: #333;
					width: 100%;
					text-decoration: none;
					i.fa {
						width: 50px;
					}
				}
			}
			cursor: pointer;
			&.disabled {
				opacity: .5;
				cursor: not-allowed;
			}
			&.sync-status {
				color: #999;
				&.underway, &.start {
					color: var(--fast);
				}
				&.failed {
					color: var(--slowest);
				}
			}
			padding: 5px;
			font-size: var(--lg-font);
		}
	}
	ul.subnav {
		font-size: 16px;
		margin: 10px 8px;
		border-left: 3px solid #ccc;
		a {
			padding: 8px 0px;
			display: block;
			text-decoration: none;
			color: #333;
		}
	}
	footer.underview {
		// background-color: var(--brand-secondary);
		background-color: white;
		.version {
			margin: 10px;
			font-size: 12px;
			color: #777;
		}
	}
}

.logout-section {
	place-self: end;
	a {
		max-width: 1060px;
		color: white;
		text-decoration: none;
		display: flex;
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
		place-content: center;
		background-color: #333;
		color: white;
		font-size: var(--lg-font);
		&:hover {
			background-color: #000;
		}
		@include media-breakpoint-down(md) {
			margin: 10px;
		}
	}		
}


.app-bottom-nav {
	background-color: #fff;
	box-shadow: 1px 1px 4px #777;
	position: sticky;
	bottom: 0;
	ul {
		max-width: 1080px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		place-content: center;
		list-style-type: none;
		margin-bottom: 0px;
		padding: 0px;
		margin-top: 0px;
		a {
			font-weight: 300;
			text-decoration: none;
			color: #777;
			font-size: 12px;
			i {
				display: block;
				margin: 0px 0px 3px;
				font-size: 40px;
			}
		}
		li {
			text-align: center;
			font-weight: 100;
			font-family: sans-serif;
			a {
				padding: 5px;
				@include media-breakpoint-up(md) {
					// padding: 15px;	
				}
				display: block;
			}
			&.new-habit, &.friends-link, &.faq, &.account-page {
				cursor: not-allowed;
				&>a {
					cursor: not-allowed;
				}
			}
			&:hover {
				background-color: #eee;
				a {
					color: #000;
				}
			}
			&:last-of-type {
				border-right: 0px;
			}
			&.active {				
				color: var(--brand-primary);
			}

		}
	}
}