.subscription-mock-up {
    border: 1px solid var(--brand-primary);
    border-radius: 3px;
    margin: 20px;
    max-width: 600px;
    @media (min-width: 600px) {
        margin: 20px auto;
    }
    &--header {
        background-color: var(--brand-primary);
        color: white;
        padding: 10px;
    }
    &--body {
        padding: 10px;
    }
    &--line-item {
        display: flex;
        position: relative;
        &.total {
            font-weight: 900;
            padding-top: 10px;
            margin-left: 0px;
        }
        &>:first-of-type {
            order: 0;
            white-space: nowrap;
        }
        &>:last-of-type {
            order: 2;
        }
        &:after {
            content: '';
            order: 1;
            display: block;
            position: relative;
            border: 1px dashed transparent;
            border-top-color: #ccc;
            margin-left: 10px;
            margin-right: 10px;
            width: calc(100% - 20px);
            height: 0px;
            top: .65em;
        }
    }
    &--footer {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0px;
        border-top: 1px solid #ccc;
        margin: 10px;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
    }
    &--disclaimer {
        margin-bottom: 25px;
        color: #777;
        font-size: .9rem;
    }
}

.successfully-subscribed {
    width: calc(100% - 20px);
    font-size: 1.4rem;
    text-align: center;
}

.get-subscription {
    @extend %focus-content;
    display: flex;
    flex-direction: column;
}

.select-subscription {
    padding: 10px;
}
.select-premium {
    margin-bottom: 10px;
    border: 2px solid var(--select-bg);
    border-radius: 3px;
    display: flex;
    --select-bg: #666;
    &--graphic {
        background-color: var(--select-bg);
        display: flex;
        align-items: center;
        padding: 10px;
        &>img {
            max-width: 70px;
            max-height: 70px;;
        }
    }
    &--content {
        padding: 10px;
    }
    &--title {
        font-size: 1.4rem;
    }
    &--selected {
        --select-bg: var(--brand-primary);
    }
}

.proceed-to-checkout {
    button {
        width: calc(100% - 20px);
    }
    a {
        width: calc(100% - 20px);
        display: block;
        &>button {
            width: 100%;
        }
    }
}