.ephemeral {

    fieldset {
      margin: 10px 0px;
    }
    fieldset label {
      display: block;
    }
    fieldset label input {
      display: block;
    }
    form {
      max-width: 600px;
      margin: 0 auto;
    }
    
    .reminder-card {
      display: flex;
    }
}