.login {
	max-width: 600px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	label {
		display: block;
		margin: 20px 0px 0px;
		max-width: 350px;
		width: 100%;
	}
	input {
		&[type="password"], &[type="email"] {
			border: 1px solid #ccc;
			padding: 5px 10px;
			display: block;
			margin: 10px 0px;
			border-radius: 2px;
			width: 100%;
			max-width: 350px;
		}
	}
}