.checkin-time-picker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
	& > div {
		background-color: white;
		max-width: 500px;
		margin: 0 auto;
	}
}
.checkin-time-buttons {
	display: flex;
	button {
		font-size: 2rem;

	}
}

.checkin-window {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 20px;
	&.closed {
		display: none;
	}
	&:after {
		content: '';
		display: block;
		width: 30px;
		flex-shrink: 0;
	}

}
.checkins {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 5px;

}

.checkin {
	overflow: hidden;
    background-color: white;
	width: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0px 5px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	grid-template-rows: 1fr min-content 45px;
	border-top-style: solid;
	border-top-width: 5px;
	scroll-snap-align: start;
	scroll-margin: 10px;

	
	&:last-of-type {
    	.score {
    		.status-null & {
				color: #555;
			}
    	}
    }
	.notes {
		grid-column: span 2;
		align-self: center;
		padding: 10px 0px;
		border-top: 1px solid #ccc;
		background-color: #f6f6f6;
	}
	button {
		border: none;
		border-top: 1px solid #ccc;
		background-color: white;
		font-size: var(--md-font);;
		padding: 10px;
		display: grid;
		place-items: center;
		min-height: 46px;
		color: white;
		&.check-time {
			background-color: #f6f6f6;
			color: #4e8bdb;
			border-bottom-right-radius: 8px;
			font-size: var(--md-font);
			&:after {
				content: '\f017';
				font-family: fontAwesome;
			}
		}
		&.check-no {
			background-color: #f6f6f6;
			color: #DB4E57;
			border-bottom-right-radius: 8px;
			font-size: var(--sm-font);
			&:after {
				content: '\F00D';
				font-family: fontAwesome;
			}	
		}
		&.check-yes {
			border-right: 1px solid #ccc;
			color: #65AC65;
			background-color: #f6f6f6;
			border-bottom-left-radius: 8px;
			font-size: var(--sm-font);
			&:after {
				content: '\f00c';
				font-family: fontAwesome;
			}
		}
	}
	&.vices {
		button.check-yes {
			&:after {
				color: crimson;
				font-size: 1.6em;
				content: '\f043';
				font-family: fontAwesome;
			}
		}
	}
	.title {
		grid-column: span 2;
		padding: 5px 10px 0px;
		font-size: var(--xs-font);
		.focus {
			display: block;
			font-size: var(--sm-font);
			line-height: 1.2em;
		}
		.sub {			
			color: #aaa;
		}
	}
	.score {
		text-align: center;
		grid-column: span 2;
		font-size: var(--lg-font);
		display: block;
		padding: 10px;
	}

	&.loading .icon {
		position: relative;
		grid-column: span 2;
		&:after {
			border-top-color: var(--fastest);
			content: '';
			position: absolute;
			place-self: center;
			top: -6px;
			left: 0;
			margin: 5px auto 10px;
			right: 0;
			bottom: 0;
			width: 28px;
			height: 28px;
			border-radius: 100px;
			border: 4px solid #cccc;
			border-top-color: var(--slowest);
			transition: 10s border-top-color;
			animation: rotation 2s infinite linear, sour 5s linear;
			place-self: center;
		}
	}
	&.bonus {
		background-color: #f2f8ff;
	}
	&.did, &.didnt {

		.icon {
			padding-bottom: 12px;
			grid-column: span 2;
			display: grid;
			place-items: center;
			border-top-color: var(--fastest);				
		}
	}
	&.did {			
		.icon {
			font-size: var(--lg-font);
			&:before {
				content: '\f00c';
				font-family: fontAwesome;
			}			
		}
	}
	&.didnt {
		.icon {
			font-size: var(--sm-font);;
			color: #DB4E57;		
			&:before {
				content: '\F00D';
				font-family: fontAwesome;
			}		
		}
	}
	&.disabled {
		color: white;
		background-color: #ccc;
	}
	&.did, &.disabled {
		& + .did, & + .disabled {
			border-top-color: var(--fast);
			& + .did, & + .disabled {
				border-top-color: var(--faster);
				& + .did, & + .disabled {
					border-top-color: var(--fastest);;
					color: var(--fastest);
				}
			}
		}
	}
}