.pinned-habits {
	@extend %main-content;
	margin-bottom: 6px;
	.pinned-habit {
		border-bottom: 1px solid #ccc;
		background-color: #f6f6f6;
		// padding: 10px;
		// text-align: right;
		.essentials {
			background-color: #f6f6f6;
		}
	}
}

.habit-section {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 5px;

	border-radius: 5px;
}